.card-bottom{
    margin-top: 0px;
    padding: 0px 30px;
    height: 400px;
    overflow-x: auto;
    background: #ffffff;
    cursor: pointer;
}
div.users-profile{
    display: flex;
    margin-top: 0px;
    align-items: center;
    gap: 20px;
    margin: 0px;
    padding: 0px;
}
div.users-profile img{
    border-radius: 50px;
    width: 35px;
    margin: 0px;
    padding: 0px;
}
div.users-profile p{
    font-weight: 400;
    font-size: 17px;
    margin: 0px;
    padding: 0px;
    color: rgb(56, 53, 53);
}

.user-profile > p:hover {
    color: rgb(158, 56, 56);
  }