.main-container {
    position: absolute;
    right: 4%;
    top: 13%;
    background: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.493) 0px 3px 8px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;
    width: 310px;
    overflow: hidden;
  }
  .main-container> hr {
    color: grey;
    /* color: #ded8d8; */
    width: 81%;
    margin-left: 28px;
    margin-top: -10px;
  }

  .profiles {
    padding: 20px 70px;
  }
  
  .profiles > img {
    width: 100px;
    border-radius: 100px;
  }
  
  .profiles > p {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  
  .profiles > p {
    font-weight: 500;
    color: rgb(74, 72, 72);
    font-size: 18px;
    margin-top: 5px;
  }
  
  .profiles > p:last-child {
    font-weight: 400;
    color: grey;
    font-size: 16px;
    margin-top: 9px;
  }
  

  .users-profile {
    height: 95px;
    overflow: hidden;
    padding-right: 30px;
    width: 320px;
  }
  
  /* ------------ signout_button ------- */
  
  .sign-out-button {
    background: #d55151;
    color: #ffffff;
    border-color: transparent;
    border-radius: 20px;
    font-size: 18px;
    padding: 6px 16px;
    margin-top: 20px;
    cursor: pointer;
  }